@media screen and (min-width: 1000px) {

    .curiosidades {

        width: 50%;

    }
    figure {

        height: 100%;
        width: 780px;

    }

}
@media screen and (max-width: 1000px) {

    .curiosidades {

        width: 70%;

    }
    ol {

        padding-left: 0px;

    }
    figure {

        width: 433px;
        height: 100%;

    }

}
@media screen and (max-width: 500px) {

    .curiosidades {

        width: 80%;

    }
    ol {

        padding-left: 0px;

    }
    figure {

        width: 332px;
        height: 100%;

    }

}
h2 {

    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 1.5rem;

}
h3 {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 4%;
    font-size: 1.25rem;

}
h4 {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 1.1rem;

}
a {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-right: 5px;
    color: white;
    cursor: url(../imagenes/cursor/microphone.cur), auto;

}
.citelink {

    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: blue;

}
.citelink:active {

    color: blueviolet;

}
.citelink:visited {

    color: blueviolet;

}
.curiosidades {

    margin: auto;
    margin-bottom: 8px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);
    font-size: 1rem;

}
figure {

    margin-left: auto;
    margin-right: auto;

}