h2 {

    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 24px;

}
h3 {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 4%;
    font-size: 20px;

}
h4 {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 18px;

}
a {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-right: 5px;
    color: white;
    cursor: url(../imagenes/cursor/microphone.cur), auto;

}
p {

    margin-left: 4%;
    margin-right: 4%;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);
    font-size: 18px;

}
li {

    margin-bottom: 8px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);
    font-size: 18px;

}
.ficha-tecnica {

    width: 50%;
    margin-left: 10px;

}
.ficha-container {

    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 25px;

}
#poster {

    width: 446px;
    height: 631px;
    margin-left: 100px;
    box-shadow: 3px 3px 10px black;

}
figure {

    text-align: center;

}
.section-nav {

    display: flex;
    margin: auto;
    margin-bottom: 25px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(31, 31, 31);
    height: 327px;
    box-sizing: content-box;
    width: fit-content;
    box-shadow: 3px 3px 25px black;
    position: relative;

}
.fig-nav {

    margin: 0;
    height: 327px;
    width: 485px;

}
.img-nav {

    height: 327px;
    width: 485px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}
.text-container-nav {

    margin-left: 15px;
    height: 327px;
    width: 512px;
    box-sizing: border-box;

}
.ul-container-nav {

    text-align: left;
    list-style-type: square;

}
.link-container {

    margin-top: 50px;

}
.button-link {

    position: absolute;
    bottom: 10px;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);
    background-color: rgb(207, 38, 38);
    border: 3px solid rgb(168, 21, 21);
    border-radius: 25px;
    transition: 0.4s ease-out;

}
.button-link:hover {

    background-color: rgb(52, 207, 38);
    border: 3px solid rgb(21, 168, 21);

}
figcaption {

    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style:italic;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);

}
.moviephoto {

    height: 438px;
    width: 780px;

}
.desc {

    text-align: center;
    margin-left: 0;
    margin-right: 0;

}
.preview {

    width: fit-content;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 100px;

}