.content-link {

    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);
    text-decoration: none;

}
.content-link:hover {

    text-decoration: underline;
    text-shadow: 3px 3px 5px black;

}
#proceso {

    scroll-margin-top: 75px;
    padding-left: 250px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(31, 31, 31);

}
#argumento {

    scroll-margin-top: 75px;
    padding-left: 250px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(31, 31, 31);

}
h2 {

    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 24px;

}
h3 {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 250px;
    font-size: 20px;

}
hr {

    margin-bottom: 0px;

}
a {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-right: 5px;
    color: white;
    cursor: url(../imagenes/cursor/microphone.cur), auto;

}
p {

    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);
    font-size: 18px;

}
ol {

    margin-left: 275px;

}
ol li {

    margin-bottom: 8px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);
    font-size: 18px;

}
figure {

    text-align: center;

}
figcaption {

    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style:italic;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);

}
.moviephoto {

    height: 438px;
    width: 780px;

}
.linkphoto {

    height: 438px;
    width: 780px;

}
.linkphoto:hover {

    height: 442px;
    width: 788px;
    box-shadow: 5px 5px 15px rgb(19, 19, 19);
    cursor: url(../imagenes/cursor/microphone.cur), auto;

}