h2 {

    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 24px;

}
h3 {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 250px;

}
h4 {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;

}
.content-link {

    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);
    text-decoration: none;
    transition: 0.2s ease-out;

}
.content-link:hover {

    text-decoration: underline;
    text-shadow: 3px 3px 5px black;

}
a {

    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: "Tiny5", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-right: 5px;
    color: white;

}
figure {

    text-align: center;

}
ol {

    margin-left: 275px;

}
ol li {

    margin-left: 5%;
    margin-bottom: 8px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);
    font-size: 20px;

}
section {

    margin: 50px 0px 50px 0px;

}
p {

    margin-left: 4%;
    margin-right: 4%;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);

}
.desc {

    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;

}
.personaje {

    text-align: center;
    margin-left: 0;
    color:rgb(134, 134, 134);
    text-shadow: 2px 2px 5px rgb(83, 83, 83);

}
.actor {

    height: 189px;
    width: 146px;
    border-radius: 10px;

}
.actores-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

}
#personas {

    scroll-margin-top: 85px;

}
#animatronicos {

    scroll-margin-top: 85px;  

}
ol li a {

    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    color: rgb(226, 223, 223);    

}
.information-container {

    display: flex;
    flex-direction: column;
    width: 146px;
    padding: 20px 15px 20px 15px;
    box-shadow: 0px 0px 10px black;
    border-radius: 1rem;

}
#freddy {

    text-align: center;
    margin-left: 0;
    color: rgb(71, 39, 17);
    text-shadow: 2px 2px 5px lightsalmon;

}
#bonnie {

    text-align: center;
    margin-left: 0;
    color: blue;
    text-shadow: 2px 2px 5px lightblue;

}
#chica {

    text-align: center;
    margin-left: 0;
    color:gold;
    text-shadow: 2px 2px 5px rgb(216, 216, 149);

}
#foxy {

    text-align: center;
    margin-left: 0;
    color: rgb(180, 23, 23);
    text-shadow: 2px 2px 5px lightsalmon;

}
#goldenfreddy {

    text-align: center;
    margin-left: 0;
    color:rgb(187, 159, 1);
    text-shadow: 2px 2px 5px rgb(233, 233, 126);

}
footer {

    margin-top: auto;
    bottom: 0;
    text-align: center;
    background-color: rgb(31, 31, 31);
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 30px;

}
.footer-h4 {

    margin-top: 0;
    margin-bottom: 10px;

}
.a-footer {

    text-decoration: none;
    color: rgb(219, 78, 78);

}
.a-footer:hover {

    text-decoration: underline;

}
.a-footer:active {

    color: rgb(51, 194, 51);

}